@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(#031c49, #2c67aa);
  margin: 0;
}

#title {
  text-align: center;
  margin: 15rem 0 1rem 0;
  font-size: 5rem;
}

#form {
  width: 500px;
  margin: 0 auto;
}

#input {
  width: 100%;
  height: 3rem;
  background: transparent;
  border: none;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
}

#input::placeholder {
  color: rgba(184, 183, 183, 0.808);
}

#todos {
  position: relative;
  width: 550px;
  left: 50%;
  margin-left: -292px;
  list-style: none;
}

#todos li {
  font-size: 2rem;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  border: solid white 2px;
  overflow: auto;
}
